* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*------------------------------- nav ----------------------------*/
nav {
    box-shadow: 0px 4px 4px #888888;
}

.navbar {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}

nav .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbar ul li, a {
    color: #030391;
    font-size: 20px;
    font-weight: bold;
}

nav .navbar ul li:nth-child(2) a {
    color: #1488D8;
}

nav .navbar ul li:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

nav .navbar ul li:nth-child(5) i {
    margin-right: 10px;
}
/*------------------------------- end-nav ----------------------------*/

/*------------------------------- container ----------------------------*/
.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container div h1, h2 {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

.container h1 {
    font-size: 50px;
    font-weight: bold;
}

.container h2 {
    font-size: 20px;
}

.container .area {
    background-color: #D9D9D9;
    width: 650px;
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.container .area .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .area .info #information {
    width: 400px;
}

.container .area .info #information p {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.container .area .confirm {
    display: grid;
    grid-template-rows: auto auto;
}

.container .area .confirm div #label {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.container .area .confirm #confirmation {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid;
    padding: 5px;
}

.container .area .confirm #confirmation div:nth-child(1) ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .area .confirm #confirmation div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.container .area .confirm #confirmation div ul p {
    font-size: 12px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.container .area .time p {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-size: 10px;
    margin-top: 5px;
}

.container .btnGr1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.container .btnGr2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}

.container .btnGr1 div button {
    margin: 20px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    padding: 8px;
    background-color: #1488D8;
    border-style: none;
    color: #FFFFFF;
    border-radius: 10px;
    width: 90px;
}

.container .btnGr2 div button {
    margin: 5px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    padding: 8px;
    background-color: #BFBFBF;
    border-style: none;
    color: #000000;
    border-radius: 10px;
    width: 160px;
    cursor: pointer;
}
.container .info #logo{
    width: 100px;
    height: 100px;
    position: static;
    background-color: #000000;
}
/*------------------------------- end-container ----------------------------*/