* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*------------------------------- nav ----------------------------*/
nav {
    box-shadow: 0px 4px 4px #888888;
}

.navbar {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}

nav div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div ul li, a {
    color: #030391;
    font-size: 20px;
    font-weight: bold;
}

nav div ul li:nth-child(2) a {
    color: #1488D8;
}
/*------------------------------- end-nav ----------------------------*/

/*------------------------------- container ----------------------------*/
.container {
    display: grid;
    grid-template-columns: 530px auto;  
}

/*------------------------------- properties ----------------------------*/
.container .properties ul li p {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-size: 20px;
    color: #030391;
    margin-left: 10px;
}

.properties ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 25px;
}

.properties ul li select {
    width: 260px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    border: 1px solid;
    cursor: pointer;
}

.properties ul li:nth-child(1) a button {
    font-weight: bold;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    color: #FFFFFF;
    background-color: #BFBFBF;
    width: 100px;
    height: 20px;
    font-size: 10px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.properties ul li:nth-child(5) input {
    padding-left: 5px;
    width: 260px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    border: 1px solid;
}

.properties ul li:nth-child(9) input {
    margin-right: 3px;
    cursor: pointer;
}

.properties ul li:nth-child(9) label {
    font-family: 'Baloo Bhaijaan 2', sans-serif; 
    cursor: pointer;  
}

.properties ul li:nth-child(10) input {
    margin-right: 3px;
    cursor: pointer;
}

.properties ul li:nth-child(10) label {
    font-family: 'Baloo Bhaijaan 2', sans-serif;   
    cursor: pointer;
}

.properties ul li:nth-child(11) input {
    margin-right: 3px;
    cursor: pointer;
}

.properties ul li:nth-child(11) label {
    font-family: 'Baloo Bhaijaan 2', sans-serif;  
    cursor: pointer; 
}

.properties ul li:nth-child(15) input {
    padding-left: 5px;
    width: 260px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    border: 1px solid;
    margin-bottom: 5px;
}

.properties ul li:nth-child(16) input {
    margin-right: 3px;
    cursor: pointer;
}

.properties ul li:nth-child(16) label {
    font-family: 'Baloo Bhaijaan 2', sans-serif; 
    cursor: pointer;  
}

.properties ul li:nth-child(17) input {
    margin-right: 3px;
    cursor: pointer;
}

.properties ul li:nth-child(17) label {
    font-family: 'Baloo Bhaijaan 2', sans-serif; 
    cursor: pointer;  
}

.properties ul li:nth-child(18) p span {
    color: #1488D8;
}

.properties ul li:nth-child(19) a button {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    background-color: #1488D8;
    width: 260px;
    height: 50px;
    border-style: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.properties ul li:nth-child(20) p {
    font-size: 9px;
    color: #000000; 
    margin-left: 30px;
}
/*------------------------------- end-properties ----------------------------*/

/*------------------------------- paper ----------------------------*/
.container .paper {
    background-color: #d9d9d9;
    z-index: -99;
}
/*------------------------------- end-paper ----------------------------*/
/*------------------------------- end-container ----------------------------*/






