<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/UploadDocument.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Upload Document</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <ul>
          <li>
            <a href="#"
              ><img
                style="width: 500px"
                src="../images/logo_hcmut.png"
                alt="logo_hcmut"
            /></a>
          </li>
          <li><a href="#">TẠO ĐƠN IN</a></li>
          <li><a href="#">XEM LỊCH SỬ</a></li>
          <li><a href="#">THANH TOÁN</a></li>
          <li><a href="#">ĐĂNG NHẬP</a></li>
          <li><a href="#">ĐĂNG KÝ</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="back_btn">
        <a href="../index.html"><button>Quay lại</button></a>
      </div>
      <div class="content">
        <ul>
          <li><p>Tải file</p></li>
          <li>
            <div id="area">
              <div id="file">
                <div id="image">
                  <img
                    src="../images/Capstone_Project_hk231_2023_v3.png"
                    alt="file_image"
                    style="width: 200px; height: 100%"
                  />
                </div>
                <div id="label">
                  <p>Capstone_Project_hk231_2023_v3.pdf</p>
                </div>
              </div>
            </div>
          </li>
          <li><p>kéo thả tệp vào đây</p></li>
          <li>
            <a href="SpecifyProperties.html"><button>Xác nhận</button></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
